@media (max-width: 1280px) {
    :root {
        --verde: #7ed957;
        --azul: #24deff;
        --negro: #212529;
        --nav: #1d2124;
        --fuente-blanco: #fff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: blueviolet;
        min-height: 100vh;
    }

    header {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header img {
        padding: 1%;
        width: 40%;
        height: auto;
    }

    header button {
        padding: 1%;
    }

    .nav-li {
        display: none;
        flex-direction: column;
        gap: 1.2rem;
        position: absolute;
        background-color: #212529;
        width: 100%;
        left: 0;
        padding: 1.5rem;
        text-align: center;
    }

    .nav-li.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .principal {
        text-align: center;
        background-size: 350%;
        background-position: center;
        background-position: top;
        font-family: Arial, Helvetica, sans-serif;
        transition: 1.5s ease;
    }

    .principal:hover {
        background-size: 450%;
        background-position: center;
        background-position: top;
    }

    .principal h1 {
        font-size: 3.5rem;
        color: var(--fuente-blanco);
        transition: 1.5s ease;
    }

    .principal span {
        color: var(--verde);
    }

    .principal h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--fuente-blanco);
        font-size: 1.2rem;
        font-weight: bold;
    }

    .principal p {
        text-align: start;
        width: 100%;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--fuente-blanco);
    }

    .principal button {
        height: 55px;
        width: 90%;
        background: linear-gradient(to right, #7ed957, #0097b2);
        border-radius: 50px;
        border: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--fuente-blanco);
        transition: 0.4s ease;
    }

    .principal button:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    }
   
    .secundario {
        display: flex;
        flex-direction: column;
    }
    
    
    .cbacare {
        padding: 10% 0 8% 10%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(img/medicos.webp);
        background-size: cover;
        background-repeat: no-repeat;
        transition: 1.5s ease;
        background-size: 110%;
    }


    .cbacare:hover {
        background-size: 125%;
        background-position: right;
    }


    .cbacare h1 {
        color: var(--fuente-blanco);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        font-size: 3.5rem;
    }

    .cbacare p {
        color: var(--fuente-blanco);
        font-size: 1.6rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
        background-color: #343a40;
        border-radius: 10px;
        padding: 2%;
        transition: 1.5s ease;
    }

    .cbacare p:hover {
        margin-top: 5%;
        transform: scale(1.1);
    }

    footer {
        display: block;


        font-family: Arial, Helvetica, sans-serif;
        color: var(--fuente-blanco);
        background-color: var(--nav);
    }

    .info {
        background-color: var(--negro);
    }

    .info h3 {
        color: var(--verde);
        border-bottom: 2px solid var(--verde);
        padding-bottom: 5%;
    }

    .info ul {
        padding: 0;
        list-style-type: none;
    }

    .info li {
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .info a {
        margin: 0 20px;
        color: var(--fuente-blanco);
        text-decoration: none;
    }

    .info a:hover {
        color: var(--verde);
        text-decoration: underline;
    }

    #copy {
        margin: 2%;
        text-align: center;
    }

    #verde {
        color: var(--verde);
    }

    #azul {
        color: var(--azul);
    }
}